<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test example for blog" verbose="1">
    <test name="Example suit for blog">
        <parameter name="autUrl" value="http://billing.ru/en/blog"/>
        <parameter name="browser" value="chrome"/>
        <parameter name="driverPath" value="chromedriver.exe"/>
        <classes>
            <class name="test.BlogTests"/>
        </classes>
    </test>
</suite>
